<%= form_with(model: spending, local: true, class: "w-90") do |form| %>
  <% if spending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spending.errors.count, "error") %> prohibited this spending from being saved:</h2>

      <ul>
      <% spending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "layouts/form_group", form: form, name: :item do %>
    <%= render "layouts/form_text_field", form: form, name: :item %>
  <% end %>

  <%= render "layouts/form_group", form: form, name: :cost do %>
    <%= render "layouts/form_number_field", form: form, name: :cost %>
  <% end %>

  <%= render "layouts/form_group", form: form, name: :currency_id, nice_name: "Currency" do %>
    <%= form.select :currency_id, options_for_select(@currencies), {},
      class: "bg-light border-0 custom-select" %>
  <% end %>

  <%= render "layouts/center_flex_box" do %>
    <%= render "layouts/form_submit", form: form, name: "Confirm" %>
  <% end %>
<% end %>
