<p id="notice"><%= notice %></p>

<h1>Spending Months</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spending_months.each do |spending_month| %>
      <tr>
        <td><%= link_to 'Show', spending_month %></td>
        <td><%= link_to 'Edit', edit_spending_month_path(spending_month) %></td>
        <td><%= link_to 'Destroy', spending_month, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spending Month', new_spending_month_path %>
