<%= render 'layouts/flex_column' do %>
  <% if @s_months.empty? %>
    <p class="mt-4">
      click the <i class="far fa-plus-square"></i> button on the dashboard below to get started
    </p>
  <% end %>
  <ul class="list-group list-group-flush">
    <% @s_months.each do |s_month| %>
      <li class="list-group-item">
        <%= link_to spending_month_path(s_month[:id]), class: "btn btn-link" do %>
          <p><%= s_month[:year] %> - <%= s_month[:month] %></p>
        <% end %>
        <ul class="list-group">
          <% s_month[:spending_currency_groups].each do |currency, sum| %>
            <li class="border-0 list-group-item">
              <p><%= number_to_currency(sum, format: "%u %n", unit: currency) %></p>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
