<% provide(:heading, "Login") %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "layouts/form_group", form: f, name: :email do %>
    <%= f.email_field :email,
      autofocus: true, autocomplete: "email", class: "form-control text-center" %>
  <% end %>

  <%= render "layouts/form_group", form: f, name: :password do %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control text-center" %>
  <% end %>

  <% if devise_mapping.rememberable? -%>
    <div class="d-flex justify-content-center">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :remember_me, class: "custom-control-input" %>
        <%= f.label :remember_me, 'remember me?', class: "custom-control-label" %>
      </div>
    </div>
  <% end -%>

  <%= render "layouts/center_flex_box" do %>
    <%= render "layouts/form_submit", form: f, name: "Confirm" %>
  <% end %>
<% end %>
