<!DOCTYPE html>
<html lang="en">
  <head>
    <title>mospend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link
      crossorigin="anonymous"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/flash" %>
    <%= render "layouts/dashboard" %>
    <div class="align-items-center container d-flex flex-column pb-5 pt-2" id="main-container">
      <%= yield %>
    </div>
  </body>
</html>
